* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header-box {
    display: flex;
    align-items: center;
    padding-top: 45px;
    justify-content: space-between;
    margin-bottom: 45px;
}

.list-header {
    display: flex;
    margin-top: 5px;
    gap: 33px;
}

.header-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.header-link:hover {
    color: black;
}

.about-us__link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: black;
}

.blockname__aboutus--info {
    background-image: url(../img/about-us-img.jpg);
    width: 1280px;
    height: 450px;
    border-radius: 10px;
    padding-top: 137px;
    padding-left: 85px;
    margin-bottom: 168px;
}

.blockname__h3--titles {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 24px;
}

.blockname__p--titles {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    width: 445px;
}

