* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.ul-list__header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.link-header {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.link-header:hover {
    color: black;
}

.blockname-cpy__header {
    color: black;
}

.cap-box {
    background-image: url(../img/Cap.jpg);
    width: 1280px;
    height: 450px;
}

.cap-h2 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.title-h2__cap {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;    
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}