* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.ul-list__header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.link-header {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}

.link-header:hover {
    color: black;
}

.blockname-cpy__header {
    color: black;
}

.cap-box {
    background-image: url(../img/Cap.jpg);
    width: 1280px;
    height: 450px;
    padding-top: 134px;
    margin-bottom:  151px;
}

.cap-h2 {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.title-h2__cap {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;    
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 32px;
    width: 445px;
}

.text-info__cap {
    padding-left: 86px;
}

.three-info {
    background: #2C343E;
    width: 1280px;
    height: 653px;
    border-radius: 10px;
    padding-left: 85px;
    margin-bottom: 159px;
}

.line-box {
    position: absolute;
    display: flex;
    align-items: center;
    margin-top: 106px;
}

.line {
    background-color: #FDD6BA;
    width: 760px;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle {
    border: 2px solid #0E8784;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    position: relative;
    left: 15px;
}

.first-circle {
    left: -15px;
}

.mid-circle {
    left: -1px;
}

.three-text__box {
    padding-top: 189px;
    display: flex;
    align-items: center;
    gap: 105px;
}

.three-numbers {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom: 38px;
}

.three-h3__title--number {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
    margin-bottom: 42px;
    width: 255px;
}

.p-info__three--box {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    width: 275px;
}

.first-box__info {
    margin-left: -15px;
}

.five-numbers {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    opacity: 0.5;
}

.first-number {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0E8784;
}

.title__five--numbers {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    opacity: 0.5;
}

.line-choice__box {
    width: 225px;
    height: 1px;
    background: #83888F;
    mix-blend-mode: normal;
    opacity: 0.25;
    display: block;
    margin: 24px 0px;
}

.first-number__choice--box {
    opacity: 1;
}

.first-title {
    opacity: 1;
}

.choice-box {
    margin-left: 85px;
}

.title-input {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
    margin-bottom: 56px;
}

.choice__style--section {
    display: flex;
    gap: 125px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    border: 0;
    padding: 0;
    margin: -1px;
}

.checked-box {
    position: relative;
}

.form-input__choice {
    display: flex;
    align-items: center;
    gap: 23px;
}

.label-radio__box {
    display: inline-flex;
    flex-direction: column;
    padding-top: 88px;
    padding-bottom: 84px;
    padding-right: 28px;
    padding-left: 28px;
    background: #F4F1EB;
    border-radius: 8px;
}

.first-text__label {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    position: absolute;
    top: -1px;
    padding-top: 32px;
}

.second-text__label {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 172px;
    position: relative;
    top: -10px;
}

.label-radio__box:hover {
    background: #FDD6BA;
    cursor: pointer;
}

.checked-box input[type="radio"]:checked + .label-radio__box {
    background: #0E8784;
    color: #FFF;
}

.checked-box input[type="radio"]:checked + .label-radio__box span {
    color: white;
}

.link-five {
    display: flex;
    align-items: center;
    gap: 23.5px;
}

.title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow-top {
    margin-top: -50px;
}

.three-input {
    margin-bottom: 88px;
}

.three__input {
    margin-left: 430px;
    margin-bottom: 88px;
}

.arrow__top {
    margin-left: -135px;
}

.box-info__recipe {
    background: #2C343E;
    width: 730px;
    height: 208px;
    margin-left: 430px;
    padding-left: 64px;
    padding-top: 27px;
    margin-bottom: 40px;
}

.order-summary {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 8px;
}

.recipe-text {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

.information-recipe {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #0E8784;
}

.create__my--plan {
    background: #0E8784;
    border-radius: 6px;
    padding: 15px 35.5px;
    cursor: pointer;
    color: #FEFCF7;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    margin-left: 950px;
    margin-bottom: 168px;
}

.footer-box {
    width: 1280px;
    height: 120px;
    background: #2C343E;
    padding-top: 47px;   
}

.link-footer {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
    white-space: nowrap;
}

.link-footer:hover {
    color: #FFF;
}

.ul__list--footer {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-left: 103px;
}

.footer-content {
    display: flex;
    align-items: center;
    margin-left: 85px;
}

.last-link__footer {
    color: #FFF;
}

.image-footer {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: 369.1px;
    margin-right: 85px;
}

.create__my--plan:hover {
    background: #66D2CF;
}