* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fraunces';
    font-family: 'Barlow';
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 45px;
    margin-bottom: 70px;
}

.ul-list__header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.link-header {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: black;
    opacity: 0.5;
}

.link-header:hover {
    opacity: 1;
}

.link-header:active {
    opacity: 1;
}

